/*顶部*/
.top{
    width: 100%;
    height: 60px;
    box-shadow:2px 2px  2px #cccccc;
//overflow: hidden;
}
.top-content{
    margin: auto;
    width: 75%;
    height: 100%;
}
.top-content  .logo{
    width: 150px;
    height:40px;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
.top-content a{
    text-decoration: none;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    float: left;
}
.topA{
    width: 80px;
    height: 60px;
    line-height: 60px;
}
.fbox{
    display: block;
    width: 340px;
    height: 40px;
    border: 1px solid  orangered;
    border-radius:30px;
    color: #333333;
    float: left;
    margin: 10px 20px 10px 30px;
    overflow: hidden;
}
.fbox  input{
    display: inline-block;
    width: 260px;
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid white;
    outline: 0;
}
.fbox-right{
    display: inline-block;
    width: 50px;
    height: 40px;
    float: right;
    background: rgb(255,149,106);
    border-radius: 0;
}
.iconsousuo{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 13px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    background: url("../imgs/sousuo.png") no-repeat;
    background-size:cover ;
}
.top-right{
    width: 320px;
    height: 60px;
    float: right;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconNav-item{
    position: relative;
    width: 80px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 60px;
    height: 60px;

}
.iconNav-item a{
    color: #40404c;
    background-color: transparent;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
.ic_upload{
    width: 30px;
    height: 30px;
    color: #ccc;
    background: url("../imgs/caozuo-shangchuan-upload.png") no-repeat;
    background-size: cover;
    display: inline-block;

}
.ic_voiceBox{
    width:30px;
    height:30px;
    color: #ccc;
    display: inline-block;
    background: url("../imgs/yinxiang.png") no-repeat;
    background-size: cover;

}
.title_tvdQ{
    width: 78px;
    height: 25%;
    font-size: 12px;
   // margin-top: -18px;
    line-height: 25%;
    font-weight: 400;
    color: #72727b;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.iconNav-item-user{
    width: 60px;
    height: 38px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    text-align: center;
}

.user-notice{
    display: inline-block;
    position: relative;
}
.user-notice a{
    width: 38px;
    height: 38px;
    display: inline-block;
}
.img_pZ5{
    border-radius: 20px;
    width: 37px;
    height:37px;
    border: 0;
    vertical-align: bottom;
}

/*首行详情 导航栏下拉*/
.nav-item-detail{
    /* width: 100%;*/
    width: 340px;
    height:0;
//height:229px;
    background: white;
    position: absolute;
    left: -50px;
    top: 50px;
    transition: all 0.3s linear;/*过渡*/
    z-index: 520;/*层级关系，z-index用来调整层级*/
    overflow: hidden;/*溢出隐藏*/
    border-top:1px solid #e0e0e0;
    margin-left: -65px;
//border: 1px solid red;

}
.detail-box-list{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    display: none;
}
.detail-box-top{
    width: 100%;
    height: 70px;
    position: relative;

}
.detail-box-content{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 30px;

}
.detail-box-nickname{

    display: inline-block;
    width: 200px;
    height: 100%;
    float: left;
    font-size: 14px;
    align-items: center;
    text-align: center;
    line-height: 100%;
}
.icon-xiaoxi{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px 5px;
    background: url("../imgs/xiaoxi.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}
.icon-xiaoxi:hover{
    background: url("../imgs/xiaoxi2.png") no-repeat;
    background-size: cover;
}
.icon-setting{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px 5px;
    background: url("../imgs/shezhi.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}
.icon-setting:hover{
    background: url("../imgs/shezhi2.png") no-repeat;
    background-size: cover;
}
.icon-exit{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px 5px;
    background: url("../imgs/tuichu.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}
.icon-exit:hover{
    background: url("../imgs/tuichu2.png") no-repeat;
    background-size: cover;
}
.detail-box-bottom{
    display: inline-block;
    width: 100%;
    height: 80px;

}
.detail-shortcut{
    display: block;
    width: 100px;
    height: 20px;
    color: #72727b;
}
.iconNav-item2{
    position: relative;
    width: 60px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 60px;
    height: 60px;
    margin-left: 5px;
}
.iconNav-item2 a{
    color: #40404c;
    background-color: transparent;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
.ic_zhuye{
    width: 20px;
    height: 20px;
    color: #ccc;
    background: url("../imgs/zhuye.png") no-repeat;
    background-size: cover;
    display: inline-block;
}
.ic_zhuye:hover{
    background: url("../imgs/zhuye2.png") no-repeat;
    background-size: cover;
}
.ic_dingyue{
    width: 20px;
    height: 20px;
    color: #ccc;
    background: url("../imgs/xingxing.png") no-repeat;
    background-size: cover;
    display: inline-block;
}
.ic_dingyue:hover{
    background: url("../imgs/xingxing2.png") no-repeat;
    background-size: cover;
}
.ic_lishi{
    width: 20px;
    height: 20px;
    color: #ccc;
    background: url("../imgs/lishi.png") no-repeat;
    background-size: cover;
    display: inline-block;
}
.ic_lishi:hover{
    background: url("../imgs/lishi2.png") no-repeat;
    background-size: cover;
}
.ic_yigou{
    width: 20px;
    height: 20px;
    color: #ccc;
    background: url("../imgs/gouwuche.png") no-repeat;
    background-size: cover;
    display: inline-block;
}
.ic_yigou:hover{
    background: url("../imgs/gouwuche2.png") no-repeat;
    background-size: cover;
}
.ic_xihuan{
    width: 20px;
    height: 20px;
    color: #ccc;
    background: url("../imgs/xihuan.png") no-repeat;
    background-size: cover;
    display: inline-block;
}
.ic_xihuan:hover{
    background: url("../imgs/xihuan2.png") no-repeat;
    background-size: cover;
}
.title_tvdQ2 {
    width: 60px;
    height: 25%;
    font-size: 12px;
   // margin-top: -18px;
    line-height: 25%;
    font-weight: 400;
    color: #72727b;
}
/*顶部完*/


.album-detail{
    width: 72%;
    height: 1360px;
    margin:10px auto 0 auto;

}

.album-title{
    width: 100%;
    height:20px;

}

.album-title a{
    text-decoration: none;
    color: #cccccc;
    display: inline-block;
}
/*.album-title  i{
    font-size: 18px;

}*/
.catagory-box{
    width: 70px;
    height: 24px;
    border: 1px solid  #cccccc;
    border-radius:3px ;
    display: inline-block;
}

.album-bookcontent{
    width: 760px;
    height: 800px;
    margin-top: 32px;
    float: left;
}

.album-author{
    width: 260px;
    height: 1200px;
    margin-left: 40px;
    margin-top: 48px;
    float: right;
}
.content-top{
    width: 760px;
    height:240px ;
    margin: 15px;
}
.content-top  img{
    display:inline-block;
    float: left;
    width: 200px;
    margin-top: 24px;
    height: 200px;
}
.content-item{
    width: 500px;
    height: 200px;
    float: right;
    margin-top: 20px;
}

.wanben{
    background: green;
    border-radius:5px ;
    color: #ffffff;
}
.catas a{
    width: 40px;
    height: 20px;
    background: rgb(242,242,242)  no-repeat;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}
.catab{
    margin-top: 25px;
}
.catab .iconbofang{
    color:orangered;
    font-size: 48px;
    display: block;
    float: left;
}
.catab  a{
    width: 80px;
    height: 24px;
    border: 1px solid  rgb(240,240,240);
    display: block;
    margin-right: 10px;
    color: rgb(235,110,55);
    margin-top: 16px;
    text-decoration: none;
    float: left;
    text-align: center;

}
.catab  a:hover{
    background: rgb(233,233,233);
}
#play{
    text-decoration: none;
    color: #000;
    width: 80px;
    height: 24px;
    display: inline-block;
}
.content-recom{
    width: 760px;
    height:160px ;
}
.recom-item{
    width: 760px;
    height: 25%;
    box-sizing: border-box;
    border-bottom: 1px  solid  rgb(222,222,222);
    overflow: hidden;
}
 .itemcard{
    width: 100%;
    height: 100%;
}
.recom-item  .itemcard2{
    width: 100%;
    height: 100%;
}
.itemcard2  .iconbofang3{
    font-size: 18px;
    display: block;
    float: left;
    color: #ff6c2e;
    margin: 10px 10px 0 10px;
}
.cards{
    width:160px ;
    height: 24px;
    float: left;
    margin: 10px 0px 0 100px;

}
.cards  span{
    width:22px;
    height:22px ;
    border: 1px  solid  #cccccc;
    display: block;
    float: left;
    margin-left: 8px;
    border-radius: 4px;
}
.cards  span i{
    margin-left: 2px;
}

.youzhi{
    width: 32px;
    height: 16px;
    text-decoration:none;
    color: rgb(255,125,66);
    border: 1px solid rgb(255,125,66);
    text-align: center;
    line-height: 16px;
    margin-top: 12px;
    display: inline-block;
    float: left;
}
.recom-item a{
	height:39px;
	line-height:39px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
 .distime{
    display: inline-block;
    float: left;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 8px;
}
.recom-item  .pv{
    margin-left: 50px;
    font-size: 15px;
    display: inline-block;
    margin-top: 8px;
    float: left;
}
/* .chename{
    width: 320px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-top: 8px;
} */
.recom-item a:hover{
    color: rgb(233,110,55);
}
.recom-item:nth-child(1){
    font-size: 21px;
}
.recom-item:nth-child(1)  a{
    width: 96px;
    height: 24px;
    text-decoration:none;
    color: rgb(236,115,53);
    font-size: 15px;
    border: 1px solid #3c3c3c;
    text-align: center;
    border-radius: 5px;
    line-height: 24px;
    display: inline-block;

}
.content-intro p{
    margin-top: 8px;
    line-height: 24px;
    font-size: 16px;
}
.content-authorinf{
    margin-top: 16px;
}
.content-authorinf p{
    margin-top: 8px;
    line-height: 24px;
    font-size: 16px;
}
/*主播信息*/
.auhea{
    width: 100%;
    height:32px;
    border-bottom: 1px solid  #c0c0c0;
    font-size: 15px;
}
.header{
    width: 100%;
    height:56px;
    font-size: 15px;
}
.header  span{

    margin-left: 8px;
    margin-top: 24px;
    float: left;
}
.header img{
    width: 44px;
    height: 44px;
    border-radius:50% ;
    margin-top: 8px;
    margin-left: 8px;
    float: left;
}
.consum{
    margin-left: 8px;
}
.consum a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin-left: 24px;
}
.consum  i{
    color: #cccccc;
}
.intro{
    margin-left: 12px;
}

.aublum{
    width: 100%;
    height:32px;
    border-bottom: 1px solid  #c0c0c0;
    font-size: 15px;
}
.aublum i{
    margin-top: 10px;
    display: block;
    float: left;
    font-size: 16px;
    color: deepskyblue;
}
.aublum a{
    text-decoration: none;
    color: #000;
    margin-top: 8px;
    display: block;
}
.aww{
    float: left;
}
.more{
    float: right;
}
.aublum a:hover{
    color: rgb(233,133,66);
}
.album-item{
    width: 100%;
    height: 81px;
    border-bottom: 1px solid   #2e6da4;
}
.album-item  img{
    width: 64px;
    height: 64px;
    margin-top: 10px;
    display: block;
    float: left;
}
.album-item  .fonta{
    width: 160px;
    height: 40px;
    font-size: 15px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}
.fonta a{
    text-decoration: none;
    color: #000;
}
.fonta a:hover{
    color: orange;
}
.album-item  .fontb{
    width: 80px;
    height: 16px;
    font-size: 12px;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}
.serch-container{
    width: 100%;
    height: 100px;
    margin-top: 16px;
    background: url("../imgs/tuijian.jpg") no-repeat;
    background-size:cover ;
  //  border: 1px solid  #cccccc;
    display: block;
}

/*专辑里的声音*/
.album-chapter{
    width: 760px;
    height:500px ;
    float: left;
    margin-top: 20px;
}
.chapter-item{
    width: 760px;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px  solid  rgb(222,222,222);
    overflow: hidden;
}

.chapter-item a{
   	height:39px;
	line-height:39px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.chapter-item  .distime{
    display: inline-block;
    float: left;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 8px;
}
.chapter-item  .orders{
    float: left;
    margin-top: 11px;
    margin-right: 16px;
    margin-left: 8px;
    font-size: 15px;
    color: #cccccc;
}
.chapter-item  .pv{
    margin-left: 50px;
    font-size: 15px;
    display: inline-block;
    margin-top: 8px;
    float: left;
}
.chename{
    width: 500px;
    height: 39px;
    font-size:14px;
    display: inline-block;
    float: left;
    overflow: hidden;
    
}
.chapter-item a:hover{
    color: rgb(233,110,55);
}
.chapter-item:nth-child(1){
    font-size: 22px;
}
.chapter-item:hover .itemcard{
    display: none;
}
 .recom-item:hover .itemcard{
     display: none;
 }


